I recently visited <a href = 'https://www.property24.co.ke/apartments-flats-to-rent'> Property24</a>; a house listing site and was amazed at the huge amount of data regarding different housing options. I then decided to scrape the flats and apartments data and this is what I came up with.

In [402]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup
from time import sleep
from random import randint

In [403]:
title = []
location = []
price = []
rate = []
bedrooms = []
bathrooms =[]

pages = np.arange(1, 2507, 21)

for page in pages:
    url = 'https://www.property24.co.ke/apartments-flats-to-rent'
    page = requests.get(url)
    unsdata = BeautifulSoup(page.content, 'html.parser')
    apartments = unsdata.find_all('div',{'class':'sc_listingTile'})
    
    sleep(randint(2,5))
    
    for i in apartments:
        apart_title = i.find('div', {'class':'sc_listingTileArea'}).get_text()
        title.append(apart_title)

        apart_location = i.find('div', {'class':'sc_listingTileAddress'}).get_text()
        location.append(apart_location)

        prices = i.select('.sc_panel.sc_listingTile .sc_listingTileContent .sc_listingTilePrice span')
        apart_price = prices[0].get_text()
        price.append(apart_price)

        apart_rate = i.find('span', {'class':'sc_listingTilePriceRentTermDescription'}).get_text()
        rate.append(apart_rate)

        bedsNbaths = i.select('.sc_panel.sc_listingTile .sc_listingTileContent .sc_listingTileIcons span')
        apart_bedrooms = bedsNbaths[0].get_text()
        bedrooms.append(apart_bedrooms)

        apart_bathrooms = bedsNbaths[1].get_text()
        bathrooms.append(apart_bathrooms)

In [404]:
apartments_df = pd.DataFrame({'title':title,
                             'location':location,
                             'bedrooms':bedrooms,
                             'bathrooms':bathrooms,
                             'price':price,
                             'rate':rate})
apartments_df['title'] = apartments_df['title'].str.strip().replace("\r\n","")

apartments_df['location'] = apartments_df['location'].str.strip().replace("\r\n","")

apartments_df['price'] = apartments_df['price'].str.strip().replace("\r\n","")
apartments_df['price'] = apartments_df['price'].str.replace('KSh','')

apartments_df['rate'] = apartments_df['rate'].str.strip().replace("\r\n","")

In [405]:
apartments_df

,title,location,bedrooms,bathrooms,price,rate
0,3 Bedroom Apartment / Flat to rent in Riverside,"Riverside Dr Nairobi, Riverside, Nairobi",3,3,200 000,Per Month
1,3 Bedroom Apartment / Flat to rent in Kileleshwa,"Kileleshwa, Nairobi",3,4,70 000,Per Month
2,3 Bedroom Apartment / Flat to rent in Nyali,"Links Rd Mombasa, Nyali, Mombasa",3,2,38 000,Per Month
3,3 Bedroom Apartment / Flat to rent in Lavington,"Near Valley Arcade, Lavington, Nairobi",3,3,80 000,Per Month
4,1 Bedroom Apartment / Flat to rent in Kileleshwa,"Kileleshwa, Nairobi",1,1,110 000,Per Month
5,4 Bedroom Apartment / Flat to rent in Kahawa W...,"Thika Rd Nairobi, Kahawa Wendani, Nairobi",4,2,57 750,Per Month
6,2 Bedroom Apartment / Flat to rent in Kilimani,"Kilimani, Nairobi",2,3,65 000,Per Month
7,3 Bedroom Apartment / Flat to rent in Westlands,,3,3,78 000,Per Month
8,1 Bedroom Apartment / Flat to rent in Nyali,"Nyali, Mombasa",1,1,5 000,Per Day
9,4 Bedroom Apartment / Flat to rent in Muthaiga,"Muthaiga, Nairobi",4,5,300 000,Per Month
10,1 Bedroom Apartment / Flat to rent in Nyali,"Nyali, Mombasa",1,1,5 000,Per Day
11,4 Bedroom Apartment / Flat to rent in Westlands,"Westlands, Nairobi",4,2,165 000,Per Month
12,3 Bedroom Apartment / Flat to rent in Kikuyu,"Kikuyu Town Bus park Kikuyu, Kikuyu, Kikuyu",3,3,55 000,Per Month
13,1 Bedroom Apartment / Flat to rent in Shanzu,"Shanzu, Mombasa",1,1,55 000,Per Month
14,2 Bedroom Apartment / Flat to rent in Westlands,"Westlands downtown, Westlands, Nairobi",2,2,75 000,Per Month
15,2 Bedroom Apartment / Flat to rent in Hurlingham,,2,2,75 000,Per Month
16,2 Bedroom Apartment / Flat to rent in Kileleshwa,"Kileleshwa Nairobi, Kileleshwa, Nairobi",2,2,55 000,Per Month
17,3 Bedroom Apartment / Flat to rent in Kilimani,"Kilimani, Nairobi",3,3,75 000,Per Month
18,3 Bedroom Apartment / Flat to rent in Nyali,,3,2,45 000,Per Month
19,2 Bedroom Apartment / Flat to rent in Spring V...,"Grevillea Grove Spring Valley, Spring Valley, ...",2,3,65 000,Per Month
20,2 Bedroom Apartment / Flat to rent in Westlands,"Westlands, Nairobi",2,2,100 000,Per Month
21,3 Bedroom Apartment / Flat to rent in Riverside,"Riverside Dr Nairobi, Riverside, Nairobi",3,3,200 000,Per Month
22,3 Bedroom Apartment / Flat to rent in Kileleshwa,"Kileleshwa, Nairobi",3,4,70 000,Per Month
23,3 Bedroom Apartment / Flat to rent in Nyali,"Links Rd Mombasa, Nyali, Mombasa",3,2,38 000,Per Month
24,3 Bedroom Apartment / Flat to rent in Lavington,"Near Valley Arcade, Lavington, Nairobi",3,3,80 000,Per Month
25,1 Bedroom Apartment / Flat to rent in Kileleshwa,"Kileleshwa, Nairobi",1,1,110 000,Per Month
26,1 Bedroom Apartment / Flat to rent in Kileleshwa,"Kileleshwa, Nairobi",1,1,110 000,Per Month
27,4 Bedroom Apartment / Flat to rent in Kahawa W...,"Thika Rd Nairobi, Kahawa Wendani, Nairobi",4,2,57 750,Per Month
28,2 Bedroom Apartment / Flat to rent in Kilimani,"Kilimani, Nairobi",2,3,65 000,Per Month
29,3 Bedroom Apartment / Flat to rent in Westlands,,3,3,78 000,Per Month
...,...,...,...,...,...,...
2490,3 Bedroom Apartment / Flat to rent in Kikuyu,"Kikuyu Town Bus park Kikuyu, Kikuyu, Kikuyu",3,3,55 000,Per Month
2491,1 Bedroom Apartment / Flat to rent in Shanzu,"Shanzu, Mombasa",1,1,55 000,Per Month
2492,2 Bedroom Apartment / Flat to rent in Westlands,"Westlands downtown, Westlands, Nairobi",2,2,75 000,Per Month
2493,2 Bedroom Apartment / Flat to rent in Hurlingham,,2,2,75 000,Per Month
2494,2 Bedroom Apartment / Flat to rent in Kileleshwa,"Kileleshwa Nairobi, Kileleshwa, Nairobi",2,2,55 000,Per Month
2495,3 Bedroom Apartment / Flat to rent in Kilimani,"Kilimani, Nairobi",3,3,75 000,Per Month
2496,3 Bedroom Apartment / Flat to rent in Nyali,,3,2,45 000,Per Month
2497,2 Bedroom Apartment / Flat to rent in Spring V...,"Grevillea Grove Spring Valley, Spring Valley, ...",2,3,65 000,Per Month
2498,2 Bedroom Apartment / Flat to rent in Westlands,"Westlands, Nairobi",2,2,100 000,Per Month
2499,3 Bedroom Apartment / Flat to rent in Kilimani,"Jabavu court, Kilimani, Nairobi",3,3,80 000,Per Month
2500,3 Bedroom Apartment / Flat to rent in Riverside,"Riverside Dr Nairobi, Riverside, Nairobi",3,3,200 000,Per Month
2501,3 Bedroom Apartment / Flat to rent in Kileleshwa,"Kileleshwa, Nairobi",3,4,70 000,Per Month
2502,3 Bedroom Apartment / Flat to rent in Nyali,"Links Rd Mombasa, Nyali, Mombasa",3,2,38 000,Per Month
2503,1 Bedroom Apartment / Flat to rent in Kileleshwa,"Kileleshwa, Nairobi",1,1,110 000,Per Month
2504,4 Bedroom Apartment / Flat to rent in Kahawa W...,"Thika Rd Nairobi, Kahawa Wendani, Nairobi",4,2,57 750,Per Month
2505,2 Bedroom Apartment / Flat to rent in Kilimani,"Kilimani, Nairobi",2,3,65 000,Per Month
2506,3 Bedroom Apartment / Flat to rent in Westlands,,3,3,78 000,Per Month
2507,4 Bedroom Apartment / Flat to rent in Muthaiga,"Muthaiga, Nairobi",4,5,300 000,Per Month
2508,1 Bedroom Apartment / Flat to rent in Nyali,"Nyali, Mombasa",1,1,5 000,Per Day
2509,4 Bedroom Apartment / Flat to rent in Westlands,"Westlands, Nairobi",4,2,165 000,Per Month
2510,3 Bedroom Apartment / Flat to rent in Kikuyu,"Kikuyu Town Bus park Kikuyu, Kikuyu, Kikuyu",3,3,55 000,Per Month
2511,1 Bedroom Apartment / Flat to rent in Shanzu,"Shanzu, Mombasa",1,1,55 000,Per Month
2512,2 Bedroom Apartment / Flat to rent in Westlands,"Westlands downtown, Westlands, Nairobi",2,2,75 000,Per Month
2513,2 Bedroom Apartment / Flat to rent in Hurlingham,,2,2,75 000,Per Month
2514,2 Bedroom Apartment / Flat to rent in Kileleshwa,"Kileleshwa Nairobi, Kileleshwa, Nairobi",2,2,55 000,Per Month
2515,3 Bedroom Apartment / Flat to rent in Kilimani,"Kilimani, Nairobi",3,3,75 000,Per Month
2516,3 Bedroom Apartment / Flat to rent in Nyali,,3,2,45 000,Per Month
2517,2 Bedroom Apartment / Flat to rent in Spring V...,"Grevillea Grove Spring Valley, Spring Valley, ...",2,3,65 000,Per Month
2518,4 Bedroom Apartment / Flat to rent in Muthaiga,"Muthaiga, Nairobi",4,5,300 000,Per Month
2519,2 Bedroom Apartment / Flat to rent in Westlands,"Westlands, Nairobi",2,2,100 000,Per Month

In [406]:
apartments_df.to_csv('apartments.csv') #saving our dataframe to a csv file

In [407]:
df = pd.read_csv('apartments.csv')
df.head()

,Unnamed: 0,title,location,bedrooms,bathrooms,price,rate
0,0,3 Bedroom Apartment / Flat to rent in Riverside,"Riverside Dr Nairobi, Riverside, Nairobi",3,3,200 000,Per Month
1,1,3 Bedroom Apartment / Flat to rent in Kileleshwa,"Kileleshwa, Nairobi",3,4,70 000,Per Month
2,2,3 Bedroom Apartment / Flat to rent in Nyali,"Links Rd Mombasa, Nyali, Mombasa",3,2,38 000,Per Month
3,3,3 Bedroom Apartment / Flat to rent in Lavington,"Near Valley Arcade, Lavington, Nairobi",3,3,80 000,Per Month
4,4,1 Bedroom Apartment / Flat to rent in Kileleshwa,"Kileleshwa, Nairobi",1,1,110 000,Per Month

In [408]:
print(df.isnull().sum())

Unnamed: 0      0
title           0
location      376
bedrooms        0
bathrooms       0
price           0
rate            0
dtype: int64

In [409]:
df.location = df.location.fillna('N/A')

In [410]:
df.isnull().sum()

Unnamed: 0    0
title         0
location      0
bedrooms      0
bathrooms     0
price         0
rate          0
dtype: int64

In [414]:
df.dtypes

Unnamed: 0     int64
title         object
location      object
bedrooms       int64
bathrooms      int64
price         object
rate          object
dtype: object